<settings>
 <category label="Einrichten">
  <setting label="TMDB-HELPER einrichten" type="action" action="RunPlugin(plugin://script.module.scraper/?action=true)"/>
  <!--<setting label="xStream reparieren" type="action" action="RunPlugin(plugin://script.module.scraper/?repair=true)"/>-->
 </category>
 <!--
 <category label="VIDEO">
  <setting default="1" id="stream_select" label="Stream Auswahl" type="enum" values="Hoster|Automatisch"/>
  <setting default="true" id="auto_try_next_stream" type="bool" subsetting="true" visible="eq(-1,0)" label="Automatisch nächsten ähnlichen Stream versuchen"/>
 </category>
 <category label="VAVOO">
  <setting default="false" id="vavoo" label="Vavoo" type="bool"/>
 </category>
 -->

 <category label="Scraper">
  <setting default="true" id="aniworld" label="AniWorld" type="bool"/>
  <setting default="true" id="api_all" label="API Suchmaschine" type="bool"/>
  <setting default="true" id="einschalten" label="Einschalten" type="bool"/>
  <setting default="true" id="filmpalast" label="FilmPalast" type="bool"/>
  <!--<setting default="false" id="flimmerstube" label="Flimmerstube" type="bool"/>-->
  <setting default="true" id="hdfilme" label="HD Filme" type="bool"/>
  <setting default="true" id="hdfilme_1" label="FHD Filme" type="bool"/>
  <setting default="false" id="internetarchive" label="Internet Archive" type="bool"/>
  <setting default="true" id="kinoger" label="KinoGer" type="bool"/>
  <setting default="true" id="kinokiste" label="Kinokiste" type="bool"/>
  <setting default="true" id="kinox" label="Kinox" type="bool"/>
  <setting default="true" id="kkiste" label="KKiste" type="bool"/>
  <setting default="true" id="megakino" label="Megakino" type="bool"/>
  <setting default="true" id="moflix-stream" label="Moflix-Stream" type="bool"/>
  <setting default="true" id="movie2k" label="Movie2K" type="bool"/>
  <setting default="true" id="movie4k" label="Movie4k" type="bool"/>
  <setting default="false" id="netzkino" label="NetzKino" type="bool"/>
  <setting default="true" id="serienstream" label="SerienStream" type="bool"/>
  <setting default="true" id="streamcloud" label="Streamcloud" type="bool"/>
  <setting default="true" id="topstreamfilm" label="Topstreamfilm" type="bool"/>
  <setting default="false" id="dokus" label="Dokumentationen" type="bool"/>
  <setting default="false" id="kids_tube" label="Kids Tube" type="bool"/>
  <setting default="true" id="vod_huhu" label="vod_huhu" type="bool"/>
  <setting default="true" id="vod_kool" label="vod_kool" type="bool"/>
  <setting default="true" id="vod_oha" label="vod_oha" type="bool"/>
  <setting default="true" id="vod_vavoo" label="vod_vavoo" type="bool"/>  
 </category>
</settings>