<settings>
  <category label="Einrichten">
    <setting label="TMDB-HELPER einrichten" type="action" action="RunPlugin(plugin://script.module.scraper/?action=true)"/>
  </category>
  <category label="VIDEO">
    <setting default="1" id="stream_select" label="Stream Auswahl" type="enum" values="Hoster|Automatisch" />
    <setting default="true" id="auto_try_next_stream" type="bool" subsetting="true" visible="eq(-1,0)" label="Automatisch nächsten ähnlichen Stream versuchen"/>
  </category>
  <category label="Scraper">
    <setting default="false" id="plugin_aniworld" label="Aniworld" type="bool"/>
    <setting default="true" id="plugin_cinemathek" label="Cinemathek" type="bool"/>
    <setting default="false" id="plugin_dokus4" label="Dokus4" type="bool"/>
    <setting default="true" id="plugin_filmpalast" label="Filmpalast" type="bool"/>
    <setting default="false" id="plugin_flimmerstube" label="Flimmerstube" type="bool"/>
    <setting default="true" id="plugin_hdfilme" label="Hdfilme" type="bool"/>
    <setting default="true" id="plugin_kinofox" label="Kinofox" type="bool"/>
    <setting default="true" id="plugin_kinoger" label="Kinoger" type="bool"/>
    <setting default="true" id="plugin_kinokiste" label="Kinokiste" type="bool"/>
    <setting default="true" id="plugin_kino" label="Kino" type="bool"/>
    <setting default="true" id="plugin_kinox" label="Kinox" type="bool"/>
    <setting default="true" id="plugin_kkiste" label="Kkiste" type="bool"/>
    <setting default="true" id="plugin_megakino" label="Megakino" type="bool"/>
    <setting default="true" id="plugin_movie2k" label="Movie2k" type="bool"/>
    <setting default="true" id="plugin_movie4k" label="Movie4k" type="bool"/>
    <setting default="true" id="plugin_movieking" label="Movieking" type="bool"/>
    <setting default="false" id="plugin_netzkino" label="Netzkino" type="bool"/>
    <setting default="true" id="plugin_serienstream" label="Serienstream" type="bool"/>
    <setting default="true" id="plugin_streamcloud" label="Streamcloud" type="bool"/>
    <setting default="true" id="plugin_streamkiste" label="Streamkiste" type="bool"/>
    <setting default="true" id="plugin_streamworld" label="Streamworld" type="bool"/>
    <setting default="true" id="vavoo" label="Vavoo" type="bool"/>
    <setting default="true" id="plugin_xcine" label="Xcine" type="bool"/>
  </category>
</settings>